<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Project Vault - Project Name</title>	
	
	<link rel="stylesheet" href="stylesheets/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
</head>

<body>
	<div id="page">
		<div id="header">
			<ul id="sub_nav" class="nav">
				<li><a href="#">Leo Sierek</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
			
			<a id="logo" href="#"><img src="images/logo.png" width="340" height="50" alt="Logo" /></a>
			
			<ul id="main_nav" class="nav active">
				<li><a href="#">My Projects</a></li>
				<li class="active"><a href="#">other Authors</a></li>
			</ul>
		</div><!-- end header -->
		
		<div id="main">
			<h1>List of authors with portfolios</h1>
			<div class="author_box column_03 column">
				<h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
				 <h4>Latest Projects</h4>
				<ul class="thumbnails_list nav">
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
				</ul>
			</div><!-- end author_box -->
			
			<div class="author_box column_03 column">
				<h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
				 <h4>Latest Projects</h4>
				<ul class="thumbnails_list nav">
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
				</ul>
			</div><!-- end author_box -->
			
			<div class="author_box column_03 column column_last">
				<h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
				 <h4>Latest Projects</h4>
				<ul class="thumbnails_list nav">
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
				</ul>
			</div><!-- end author_box -->
			
			<div class="author_box column_03 column">
				<h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
				 <h4>Latest Projects</h4>
				<ul class="thumbnails_list nav">
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
				</ul>
			</div><!-- end author_box -->
			
			<div class="author_box column_03 column">
				<h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
				 <h4>Latest Projects</h4>
				<ul class="thumbnails_list nav">
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
				</ul>
			</div><!-- end author_box -->
			
			<div class="author_box column_03 column column_last">
				<h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
				 <h4>Latest Projects</h4>
				<ul class="thumbnails_list nav">
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
				</ul>
			</div><!-- end author_box -->
		</div><!-- end main -->
		
		<div id="footer">
			&copy; 2009 by <a href="http://www.sierek.com">Leo Sierek</a>, Template for the Dango tutorial in the <a href="http://www.metalab.at">metalab</a> 
		</div>
	</div>

</body>
</html>
