{% extends 'base.html' %}
{% block title %}- Project Name{% endblock %}
{% block content %}
<h1>List of authors with portfolios</h1>
<div class="author_box column_03 column">
    <h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
     <h4>Latest Projects</h4>
    <ul class="thumbnails_list nav">
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
    </ul>
</div><!-- end author_box -->

<div class="author_box column_03 column">
    <h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
     <h4>Latest Projects</h4>
    <ul class="thumbnails_list nav">
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
    </ul>
</div><!-- end author_box -->

<div class="author_box column_03 column column_last">
    <h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
     <h4>Latest Projects</h4>
    <ul class="thumbnails_list nav">
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
    </ul>
</div><!-- end author_box -->

<div class="author_box column_03 column">
    <h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
     <h4>Latest Projects</h4>
    <ul class="thumbnails_list nav">
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
    </ul>
</div><!-- end author_box -->

<div class="author_box column_03 column">
    <h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
     <h4>Latest Projects</h4>
    <ul class="thumbnails_list nav">
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
    </ul>
</div><!-- end author_box -->

<div class="author_box column_03 column column_last">
    <h3 class="first"><a href="#">Leo Sierek</a> | <span>Designer from Vienna</span></h3>
     <h4>Latest Projects</h4>
    <ul class="thumbnails_list nav">
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
        <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
    </ul>
</div><!-- end author_box -->
{% endblock %}
