<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Project Vault {% block title %}{% endblock %}</title>	
	
	<link rel="stylesheet" href="stylesheets/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
</head>
<body>
	<div id="page">
		<div id="header">
			<ul id="sub_nav" class="nav">
				<li><a href="#">Login</a></li>
			</ul>
			
			<a id="logo" href="#"><img src="images/logo.png" width="340" height="50" alt="Logo" /></a>
		</div><!-- end header -->
		
        <div id="main">
            {% block content %}
            {% endblock %}
		</div><!-- end main -->
		
		<div id="footer">
			&copy; 2009 by <a href="http://www.sierek.com">Leo Sierek</a>, Template for the Dango tutorial in the <a href="http://www.metalab.at">metalab</a> 
		</div>
	</div>

</body>
</html>
