{% extends 'base.html' %}
{% block title %}- Showcase your Projects{% endblock %}
{% block content %}
        <h1>Showcase your projects online with project vault.</h1>
        <p id="intro">Project vault is an online community for designer and programmer who want to showcase their work. People can comment on the posted projects and the author can upload pictures, screenshot and write down descriptions for the project.</p>
        
        <a id="register_button" href="#"><img src="/media/images/register_button.png" width="378" height="71" alt="Register Button" /></a>
        
        <div id="screenshot">
            <img src="/media/images/screenshot.png" width="800" height="374" alt="Screenshot" />
        </div>
        <h2>Latest uploaded Projects</h2>
        <div class="project_box column_03 column">
            <h3 class="first">Project Vault</h3>
            <p>It is an online portfolio for Designers and Programmers where they can showcase their work.</p>
            <ul class="thumbnails_list nav">
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
            </ul>
        </div>
        
        <div class="project_box column_03 column">
            <h3 class="first">Project Vault</h3>
            <p>It is an online portfolio for Designers and Programmers where they can showcase their work.</p>
            <ul class="thumbnails_list nav">
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
            </ul>
        </div>
        
        <div class="project_box column_03 column column_last">
            <h3 class="first">Project Vault</h3>
            <p>It is an online portfolio for Designers and Programmers where they can showcase their work.</p>
            <ul class="thumbnails_list nav">
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
            </ul>
        </div>
        
            <div class="project_box column_03 column">
                <h3 class="first">Project Vault</h3>
                <p>It is an online portfolio for Designers and Programmers where they can showcase their work.</p>
                <ul class="thumbnails_list nav">
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
                </ul>
            </div>

            <div class="project_box column_03 column">
                <h3 class="first">Project Vault</h3>
                <p>It is an online portfolio for Designers and Programmers where they can showcase their work.</p>
                <ul class="thumbnails_list nav">
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
                </ul>
            </div>

            <div class="project_box column_03 column column_last">
                <h3 class="first">Project Vault</h3>
                <p>It is an online portfolio for Designers and Programmers where they can showcase their work.</p>
                <ul class="thumbnails_list nav">
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>
                    <li><a href="#"><img src="/media/images/thumb_dummy.png" width="50" height="50" alt="Thumb Dummy" /></a></li>	
                </ul>
            </div>
{% endblock %}
