<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Project Vault - Project Name</title>	
	
	<link rel="stylesheet" href="stylesheets/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
</head>

<body>
	<div id="page">
		<div id="header">
			<ul id="sub_nav" class="nav">
				<li><a href="#">Leo Sierek</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
			
			<a id="logo" href="#"><img src="images/logo.png" width="340" height="50" alt="Logo" /></a>
			
			<ul id="main_nav" class="nav">
				<li><a href="#">My Projects</a></li>
				<li class="last"><a href="#">other Authors</a></li>
			</ul>
		</div><!-- end header -->
		
		<div id="main">
			<div id="project_images">
				<h1>Project Vault - Showcase for Design, Hardware and Software</h1>
				<div id="project_intro_image" class="column_01 column">
					<div class="inner">
						<img src="images/project_vault/project_intro_image.png" width="640" height="400" alt="Project Intro Image" />
					</div>
				</div>
				
				<ul id="project_thumbnails" class="column_02 column nav">
					<li><a href="#"><img src="images/thumb_dummy.png" width="90" height="90" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="90" height="90" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="90" height="90" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="90" height="90" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="90" height="90" alt="Thumb Dummy" /></a></li>
					<li><a href="#"><img src="images/thumb_dummy.png" width="90" height="90" alt="Thumb Dummy" /></a></li>	
					<li><a href="#"><img src="images/thumb_dummy.png" width="90" height="90" alt="Thumb Dummy" /></a></li>		
				</ul>
			</div><!-- end project_images-->
			
			<div id="intro">
				<h2 class="ir">So what's the project about?'</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero felis, vulputate ut, facilisis sed, imperdiet sit amet, libero. Sed feugiat dictum tortor. Vestibulum sed arcu vel lacus porta rutrum. Etiam tortor neque, laoreet sit amet, dignissim ac, pellentesque quis, ipsum. Fusce rutrum lorem sit amet purus. Phasellus fermentum, ligula sed faucibus interdum, enim metus cursus orci, non aliquam lorem tortor vitae massa.</p>
			</div>
			<div id="project_description">
				<div class="column_01 column">
					<div id="project_features">
						<h2 class="first">Features</h2>
						
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero felis, vulputate ut, facilisis sed, imperdiet sit amet, libero.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero felis, vulputate ut, facilisis sed, imperdiet sit amet, libero.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero felis, vulputate ut, facilisis sed, imperdiet sit amet, libero.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero felis, vulputate ut, facilisis sed, imperdiet sit amet, libero.</li>
						</ul>
					</div>
				</div>
				<div id="project_author" class="column_02 column">
					<h2 class="first">The Author</h2>
					
					<p>Leo Sierek</p>
					
					<h3>About me</h3>
					
					<p>I'm a Web Frontend Developer from Austria, doing fancy stuff with XHTML, CSS and Javascript.</p>
					
					<h3>My Website</h3>
					
					<p><a href="http://www.sierek.com">www.sierek.com</a></p>
				</div>
			</div><!-- end project_description -->
			<div id="project_comments">
				<h2 class="first_headline">Comments</h2>
				<div class="comment">
					<p>Woo, I like the stuff you have done. It's a very cool project. Keep up the good work and a glorious future for you is guaranteed. I especially like the user interface. IT's very clean and simple.</p>
					<p class="author">by Fuman Foo</p>
				</div>
				<div class="comment">
					<p>Woo, I like the stuff you have done. It's a very cool project. Keep up the good work and a glorious future for you is guaranteed. I especially like the user interface. IT's very clean and simple.</p>
					<p class="author">by Fuman Foo</p>
				</div>
			</div><!-- end other_projects -->
		</div><!-- end main -->
		
		<div id="footer">
			&copy; 2009 by <a href="http://www.sierek.com">Leo Sierek</a>, Template for the Dango tutorial in the <a href="http://www.metalab.at">metalab</a> 
		</div>
	</div>

</body>
</html>
