<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Project Vault - Project Name</title>	
	
	<link rel="stylesheet" href="stylesheets/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
</head>

<body>
	<div id="page">
		<div id="header">
			<ul id="sub_nav" class="nav">
				<li><a href="#">Login</a></li>
			</ul>
			
			<a id="logo" href="#"><img src="images/logo.png" width="340" height="50" alt="Logo" /></a>
		</div><!-- end header -->
		
		<div id="main">
			<h1>Signup for project vault</h1>
			<form id="signup_form" action="signup_form_submit" method="get" accept-charset="utf-8">
				
				<p><label for="name">Your Name</label><br />
				<input type="text" name="name" value="" id="name" class="textfield" /></p>
				
				<p><label for="password">Password:</label><br />
				<input type="text" name="password" value="" id="password" class="textfield" ></p>
				
				<p><label for="password_repeat">Password repeat:</label><br />
				<input type="text" name="password_repeat" value="" id="password_repeat" class="textfield"></p>
				
				<p><label for="email">email:</label><br />
				<input type="text" name="email" value="" id="email" class="textfield" ></p>
				
				<p class="submit_button"><input type="submit" name="submit" value="Submit" id="submit" /> </p>
			</form>
		</div><!-- end main -->
		
		<div id="footer">
			&copy; 2009 by <a href="http://www.sierek.com">Leo Sierek</a>, Template for the Dango tutorial in the <a href="http://www.metalab.at">metalab</a> 
		</div>
	</div>

</body>
</html>
